/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}

.nav-link {
  color: #878696 !important;
}

nav {
  background-color: black !important;
  color: white !important;
  height: 72px !important;
}

nav .navbar-brand .text {
  font-weight: 400;
  color: white;
  font-size: 25px;
}

nav .navbar-brand .logo {
  font-weight: 900;
  color: rgba(157,103,25,255);
  font-size: 25px;
}

nav .form-control,
nav .form-control:hover {
  border-radius: 0;
  background-color: #2d3e50;
  outline: none;
  border: none;
}

nav .btn,
.btn {
  border-radius: 0;
} 
/* Start Main */

/* End Main */